.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    flex-flow: nowrap;
    flex-wrap: wrap;
}

.row.container.text-center {
    display: contents;
}

.col.align-self-center {
    margin-top: 10%;
}

p.numbers {
    font-size: xx-large;
    color: white;
    background: #0094C6;
    border-radius: 15px;
    width: max-content;
    padding: inherit;
}

.col.align-self-center {
    display: flex;
    justify-content: center;
}

button {
    background: #F5BE51;
    border: none;
    color: #0094C6;
}

button#set, #lotto, #euro {
    background: #F5BE51;
    color: white;
    border: none;
    font-variant: small-caps;
}

h1.titleLucky {
    color: #0094C6;
    /* background: #0094C6; */
    width: inherit;
    height: auto;
    font-weight: bolder;
    font-family: inherit;
    font-variant: small-caps;
    font-size: xxx-large;
}

.container.position-absolute.top-50.start-50.translate-middle {
    width: 90%;
    height: fit-content;
}

