body {
    font-family: 'Aclonica', sans-serif;
}

.webpageBody {
    background: beige;
    width: 100%;
    height: 100%;
}

.imageContainer {
    display: flex;
    flex-direction: row-reverse;
}

img.androidApp {
    width: 10rem;
    margin: 1rem;
    opacity: 0.9;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    flex-flow: nowrap;
    flex-wrap: wrap;
}

.row.container.text-center {
    display: contents;
}

.col.align-self-center {
    margin-top: 10%;
}


.col.align-self-center {
    display: flex;
    justify-content: center;
    height: max-content;
}

button {
    background: #F5BE51;
    border: none;
    color: #0094C6;
}

button#set,
#lotto,
#euro {
    background: #F5BE51;
    color: white;
    border: none;
    font-family: 'Luckiest Guy';
    font-variant: common-ligatures;
    letter-spacing: 2px;
    font-size: xx-large;
    border-radius: 36px;
}

h1.titleLucky {
    color: white;
    height: auto;
    font-weight: bolder;
    font-family: inherit;
    font-variant: small-caps;
    font-size: xxx-large;
    padding: 10px;

}

.container.position-absolute.top-50.start-50.translate-middle {
    width: 90%;
    height: fit-content;
}

.container.position-absolute.top-50.start-50.translate-middle {
    background: #0094c6;
    border-radius: 87px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#titleLucky {
    background: #DD403A;
    border-radius: 90px;
    width: max-content;
    padding: 4px;
}

.row.text-center.p-4 {
    margin: -23px;
}

button#set:hover,
#lotto:hover,
#euro:hover {
    opacity: 96%;
    filter: hue-rotate(91deg);
    zoom: 105%;
}

p.numberDigits {
    border-radius: 48px;
    color: white;
    padding: 0.4rem;
    font-size: 1.4em;
    margin-right: 3px;
    font-weight: bolder;
    width: 2.6rem;
    height: auto;

}

.digits {
    display: flex;
}
